<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>

        <RollingFile name="Spring logger"
                     fileName="./logs/spring-logger.log"
                     filePattern="./logs/$${date:yyyy-MM}/spring-logger-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="User Service Logger"
                     fileName="./logs/users.log"
                     filePattern="./logs/$${date:yyyy-MM}/users-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <RollingFile name="Aspect Logger"
                     fileName="./logs/aspects.log"
                     filePattern="./logs/$${date:yyyy-MM}/users-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="Spring logger" />
        </Root>

        <Logger name="com.illia.krasnienkov" level="trace"/>

        <Logger name="com.illia.krasnienkov.movie.service.impl.UserServiceImpl" level="info">
            <AppenderRef ref="User Service Logger"/>
        </Logger>

        <Logger name="com.illia.krasnienkov.movie.logger.MyAspect" level="info">
            <AppenderRef ref="Aspect Logger"/>
        </Logger>
    </Loggers>

</Configuration>